.card-container {
  box-sizing: border-box;

  position: relative;
  width: 494px;
  height: 172px;
  left: 2px;
  top: 0px;

  background: #ffffff;
  border: 1.02994px solid #e8e8e8;
  box-shadow: inset 0px 0px 1.02994px 1.02994px rgba(0, 0, 0, 0.1);
}
.card-title {
  position: relative;
  justify-content: center;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14.4192px;
  line-height: 10px;
  height: 10px;
  color: #4f4f4f;
}

.card-body {
  position: relative;
  top: 0px;
  justify-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12.3593px;

  color: #4f4f4f;
}

.btn {
  display: flex;
  position: relative;
  justify-content: center;
  top: 1px;
  text-decoration: none;
}
