.card-container {
  box-sizing: border-box;

  position: relative;
  width: 366.66px;
  height: 172px;
  left: 0px;
  top: 0px;

  background: #ffffff;
  border: 1.02994px solid #e8e8e8;
  box-shadow: inset 0px 0px 1.02994px 1.02994px rgba(0, 0, 0, 0.1);
}

.issue-card {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.column {
  box-sizing: border-box;

  position: relative;
  width: 500px;
  height: 53px;
  left: 222px;
  top: 100px;
  bottom: 142px;
  margin: 10px;
  background: #ffffff;
  border: 1px solid #e8e8e8;
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
  text-align: center;
}

.droppable-column {
  box-sizing: border-box;

  position: relative;
  width: 500px;
  height: 700px;

  background: rgba(180, 184, 249, 0.13);
  border: 1px solid #e8e8e8;
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}
